{% extends "index.html" %}

{% block content %}
<div class="bg-trueGray-100 py-10">
    <div class="max-w-3xl mx-auto bg-white p-8 rounded shadow-lg">
        <h1 class="text-2xl font-semibold mb-4">Book Stock</h1>
        <table class="min-w-full border border-gray-300">
            <thead>
                <tr>
                    <th class="py-2 px-4 bg-gray-100 border-b">Book Title</th>
                    <th class="py-2 px-4 bg-gray-100 border-b">Dealer</th>
                    <th class="py-2 px-4 bg-gray-100 border-b">Author</th>
                    <th class="py-2 px-4 bg-gray-100 border-b">Quantity in Stock</th>
                    <th class="py-2 px-4 bg-gray-100 border-b">Purchase Price</th>
                    <th class="py-2 px-4 bg-gray-100 border-b">Selling Price</th>
                    <th class="py-2 px-4 bg-gray-100 border-b">Date Added</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td class="py-2 px-4 border-b">{{ stock.book.title }}</td>
                    <td class="py-2 px-4 border-b">{{ stock.dealer.Name }}</td>
                    <td class="py-2 px-4 border-b">{{ stock.author.author }}</td>
                    <td class="py-2 px-4 border-b">{{ stock.quantity_in_stock }}</td>
                    <td class="py-2 px-4 border-b">{{ stock.purchase_price }}</td>
                    <td class="py-2 px-4 border-b">{{ stock.selling_price }}</td>
                    <td class="py-2 px-4 border-b">{{ stock.date_added }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
