{% extends "index.html" %}
{% block content %}
<div class="container mx-auto py-6">
    <h1 class="text-2xl font-semibold mb-4">Issue Book</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="user_id" class="block text-gray-700">Select User:</label>
            <select id="user_id" name="user_id" class="rounded-lg p-2 focus:ring focus:ring-blue-300">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <label for="issue_date" class="block text-gray-700">Issue Date:</label>
            <input type="date" id="issue_date" name="issue_date" class="rounded-lg p-2 focus:ring focus:ring-blue-300" required>
        </div>
        <div class="mb-4">
            <label for="return_date" class="block text-gray-700">Return Date:</label>
            <input type="date" id="return_date" name="return_date" class="rounded-lg p-2 focus:ring focus:ring-blue-300" required>
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full transition-colors duration-300 transform hover:scale-105 hover:shadow-md">
            Issue Book
        </button>
    </form>
</div>



{% endblock %}