{% extends "index.html" %}

{% block content %}
<div class="container mx-auto py-6">
    <h1 class="text-2xl font-semibold mb-4">Review Approved Requests</h1>

    {% if approved_requests %}
        <ul>
            {% for request in approved_requests %}
                <li class="mb-4 border p-4 rounded-lg shadow-md">
                    <h2 class="text-lg font-semibold">Request for {{ request.book.title }}</h2>
                    <p>User: {{ request.user.username }}</p>
                    <p>Issue Date: {{ request.issue_date|date:"F d, Y" }}</p>
                    <p>Return Date: {{ request.return_date|date:"F d, Y" }}</p>


                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="request_id" value="{{ request.id }}">
                        <input type="hidden" name="user_id" value="{{ request.user.id }}">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full inline-block mt-2">Issue Book</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No approved requests found.</p>
    {% endif %}
</div>
{% endblock %}
