{% extends "index.html" %}
{% block content %}

    <div>Stock management</div>
    <div>
        <li class="mb-2">
                <a href="{% url 'add_book' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full inline-block">
                    Add Book
                </a>
        </li>
        <li class="mb-2">
                <a href="{% url 'books_list' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full inline-block">
                    Books
                </a>
        </li>
        <li class="mb-2">
                <a href="{% url 'dealers_list' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full inline-block">
                    Dealsers
                </a>
        </li>
        <li class="mb-2">
                <a href="{% url 'create_dealer' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full inline-block">
                    Register Dealer
                </a>
        </li>
        <li class="mb-2">
                <a href="{% url 'purchase_list' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full inline-block">
                    purchase list
                </a>
        </li>
    </div>

{% endblock %}